.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 21px;
  height: 79px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__name {
  margin: 0;
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 10px;
}

.card__like-btn {
  padding-bottom: 10px;
}

.card__like-btn:hover {
  opacity: 0.5;
}

/*VER TAREFA SOBRE :ACTIVE*/

.card__like-btn:active {
  background-image: url(../images/like-btn-black.svg);
}
