.infos__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-rendering: optimizeLegibility;
  margin: 0;
  grid-area: name;
}

.infos__about {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  text-rendering: optimizeLegibility;
  grid-area: about;
}

.infos__edit-btn {
  grid-area: edit-btn;
}

.infos__edit-btn:hover {
  opacity: 0.6;
}
