.popup {
  display: none;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.popup_opened {
  display: flex;
  justify-content: center;
}

.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 25px 0px #00000026;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  z-index: 2;
  margin-top: 195px;
}

.popup__title-form {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  width: 330px;
  margin: 34px 0 54px;
}

.popup__input-form {
  width: 358px;
  height: calc(27.26px - (13px + 3px + 1px));
  font-size: 14px;
  line-height: 1.21;
  vertical-align: top;
  margin: 0 0 29.74px;
  padding: 3px 0 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input-form::placeholder {
  color: #000000;
}

.popup__input-form:last-of-type {
  margin-bottom: 48px;
}

.popup__btn-form {
  margin-bottom: 36.51px;
  width: 358px;
  height: 50.15px;
  border-radius: 2px;
  border: none;
  background-color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  text-align: center;
  color: #ffffff;
  padding: 4px 0 0;
}

.popup__btn-form:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__close-btn {
  display: inline-block;
  text-decoration: none;
}

.popup__close-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__icon-close-btn {
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon_40.svg);
  background-position: center;
  background-size: contain;
  margin-top: 146.72px;
  z-index: 2;
}

@media screen and (min-width: 641px) and (max-width: 960px) {
  /*800px*/

  .popup {
    max-width: 960px;
  }

  .popup__icon-close-btn {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  /*320px*/

  .popup {
    max-width: 640px;
  }

  .popup__container {
    width: 282px;
    height: 322px;
    margin-top: 123px;
    position: relative;
    left: 15px;
  }

  .popup__title-form {
    font-size: 18px;
    width: 238px;
    margin: 25px 0 76px;
  }

  .popup__input-form {
    width: 238px;
    margin: 0 0 30px;
  }

  .popup__input-form:last-of-type {
    margin-bottom: 46px;
  }

  .popup__btn-form {
    margin-bottom: 25px;
    width: 238px;
    height: 46px;
    font-size: 14px;
  }

  .popup__icon-close-btn {
    width: 26px;
    height: 26px;
    background-image: url(../images/close-icon_26.svg);
    margin-top: 72.62px;
    position: relative;
    right: 15px;
  }
}
